
{% trans_default_domain 'app' %}
<!doctype html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.detail(locale).metaTitle }}</title>
    <meta name="Description" content="{{ page.detail(locale).metaDesc }}"/>
    <meta name="Keywords" content="{{ page.detail(locale).metaKeys }}"/>
    <meta name="viewport" content="width=device-width"/>
    {# Transformer les fichiers less en fichier css a la mise en ligne#}
    <link rel="stylesheet/less" href="{{ asset('css/style.less') }}?v={{ random() }}"/>

    {# Script LESS EN DEV . A enlever en prod #}
    <script src="{{ asset('js/lib/less.min.js') }}"></script>
    <script>less = { useFileCache: false }</script>
    {# Enlever en prod #}
    {% block css %}
    {% endblock css %}
</head>

<body class="">
    {% include 'header.html.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html.twig' %}
    <script type="text/javascript">
        var root = "{{ asset('') }}";
        var lang_get = "{{ locale }}";
        let dependances = [
            "{{ asset('js/lib/jquery/jquery.min.js') }}",
            "{{ asset('js/edc.js') }}",
            "{{ asset('js/header.js') }}",
            {% if jsZones is defined %}
                {% for zone in jsZones %}
                    "{{ asset('js/zone/'~zone~'.js') }}",
                {% endfor %}
            {% endif %}

            {% block dep %}
            {% endblock dep %}
        ];
    </script>
    <script src="{{ asset('js/load.js') }}" type="text/javascript"></script>
</body>
</html>