<html><body>{{ form_start(form,{'attr': {'data-step':'1'}}) }}
    {% for child in form %}
        {% if child.vars.block_prefixes[1] == 'submit' %}
            <div class="form-group" data-step="1">
                <div class="g-recaptcha" data-sitekey="6Le41GwUAAAAANSBGml8877-JtZB5TGaymzuG6sT" ></div>
            </div>
        {% endif %}
        <div class="form-group" data-step="{{ (child.vars.attr['data-step'] is defined) ? child.vars.attr['data-step'] : '1' }}" data-class="{{ (child.vars.attr['class'] is defined ) ? child.vars.attr['class'] : '' }}">
            {{ form_row(child) }}
        </div>
    {% endfor %}
{{ form_end(form) }}
</body></html>